* {
    margin: 0;
    padding: 0;
}

input[type="file"] {
    display: none;
}

label.input-file {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 0px 1px rgba(0,0,0,0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-prompt {
    z-index: 900;

    position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-prompt .cropper-container .cropper-view-box {
    border-radius: 50%; /* Define bordas arredondadas */
    border: 2px solid rgba(255, 255, 255, 0.7); /* Adiciona uma borda */
}

.image-prompt .cropper-container .cropper-face {
    border-radius: 50%; /* Garante que a área de recorte também fique arredondada */
    background: rgba(0, 0, 0, 0.5); /* Ajusta a transparência para visualização */
    border: none;
}

.image-prompt .image-prompt-box {
    background-color: white;
    padding: 20px;
}

.image-prompt .image-prompt-box .button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 10px;
}

.image-prompt .image-prompt-box .button-box div {
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    flex-basis: 1;
    flex-grow: 1;
    text-align: center;
}

.image-prompt img {
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}
