<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template de Portfólio</title>

    <link rel="stylesheet" href="/css/portfolio.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Geologica:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Satisfy&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="#inicio">PÁGINA INICIAL</a>
            <a href="#sobre">SOBRE</a>
            <a href="#escola">ESCOLA</a>
            <a href="#projetos">PROJETOS</a>
            <a href="#formulario">CONTATO</a>
            <a href="/logout">SAIR</a>
        </div>
    </header>

    <section id="inicio" class="a main">
        <div class="image-container">
            <img class="picture" src="/images/theo.jpg" alt="Foto do Theo">
            <img class="me" src="/images/jvcr.jpg" alt="Minha Foto">
        </div>
        <div class="text-container">
            <h2 class="big-margin">Oi! Meu nome é João Victor</h2>
            <div>
                <p>Eu sou um estudante de  robótica entusiasta por desafios e novas tecnologias.</p>
                <p>Tenho fascínio por Matemática, Física, Química e Programação, sempre evoluindo minhas habilidades.</p>
            </div>
        </div>
    </section>

    <section id="sobre" class="b sobre">
        <div id="formacao">
            <div class="formacao-content">
                <h1>Sobre</h1>
                <h3>Formação Acadêmica</h3>
                <ul if="lista-formacoes" class="formacao-list">
                    <% if (formacoes && formacoes.length > 0) { %>
                        <% formacoes.forEach(function(formacao) { %>
                            <li class="formacao-item">
                                <p class="formacao-titulo"><%= formacao.nome %></p>
                                <p class="formacao-descricao"><%= formacao.descricao %></p>
                            </li>
                        <% }) %>
                    <% } %>             
                </ul>
                
            </div>
            <div class="formacao-imagem">
                <img src="/images/blocks.jpg" alt="Blockss">
            </div>
        </div>        

        <div id="experiencias">
            <div>
                <h3>Experiências</h3>
                <div id="lista-experiencias">
                    <div class="exp-card">
                        <h3>OBR</h3>
                        <img src="https://i0.wp.com/noic.com.br/wp-content/uploads/2015/05/Logomarca_OBR.png">
                        <p>Participei de inúmeras edições da Olimpíada Brasileira de Robótica, além de atuar como mentor de alunos.</p>
                    </div>
                    <div class="exp-card">
                        <h3>OBA</h3>
                        <img src="https://olimpiadas.azurewebsites.net/wp-content/uploads/2021/08/OBA-SITE.png">
                        <p>Sou medalhista por diversos anos da Olimpíada Brasileira de Astronomia e Astronáutica</p>
                    </div>
                    <div class="exp-card">
                        <h3>FLL</h3>
                        <img src="https://static.wixstatic.com/media/3a1650_a465e62f8e574027924de253b9d2af0a~mv2.jpg/v1/crop/x_0,y_130,w_2144,h_2262/fill/w_214,h_226,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/FLL-PMS_Challenge-vert-icon-full-color_j.jpg">
                        <p>Participei e acompanhei mentorias de First Lego League Challenge</p>
                    </div>
                    <div class="exp-card">
                        <h3>F1 in Schools</h3>
                        <img src="http://f1inschoolsbrazil.com.br/wp-content/uploads/2023/01/grid-with-logo_orig.jpeg">
                        <p>Participei criando uma mini Scuderia de F1 e competi em São Paulo.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="habilidades">
            <div>
                <h3>Habilidades</h3>
                <div id="lista-habilidades">
                    <div class="hab-card">
                        <h5>Liderança</h5>
                        <label>Capaz de organizar uma equipe para atingir diferentes metas.</label>
                    </div>
                    <div class="hab-card">
                        <h5>Trabalho em Equipe</h5>
                        <label>Hábil a trabalhar em equipe e formular ideias inovadoras.</label>
                    </div>
                    <div class="hab-card">
                        <h5>Criatividade</h5>
                        <label>Possuo visão para resolver problemas e executar ações.</label>
                    </div>
                    <div class="hab-card">
                        <h5>Organização</h5>
                        <label>Trabalho com um ambiente de desenvolvimento organizado.</label>
                    </div>
                    <button class="add" onclick="sendCadastro('habilidade')"></button>
                </div>
            </div>
        </div>

        <div id="especialidades">
            <div>
                <h3>Especialidades e Áreas de Interesse</h3>
                <div id="lista-especialidades">
                    <div class="area-card">
                        <div>
                            <img src="https://www.grupoalltech.com.br/storage/images/cache/introducao-a-robotica-industrial-tudo-o-que-voce-precisa-saber-artigo-foto-1712340043-760x550-0dac6103.webp">
                        </div>
                        <h5>Robótica</h5>
                    </div>
                    <div class="area-card">
                        <div>
                            <img src="https://ichef.bbci.co.uk/ace/ws/800/cpsprodpb/164EE/production/_109347319_gettyimages-611195980.jpg.webp">
                        </div>
                        <h5>Matemática</h5>
                    </div>
                    <div class="area-card">
                        <div>
                            <img src="https://blog.mackenzie.br/wp-content/uploads/2021/11/shutterstock_1702863208-1-1024x539.jpg">
                        </div>
                        <h5>Física</h5>
                    </div>
                    <div class="area-card">
                        <div>
                            <img src="https://conhecimentocientifico.r7.com/wp-content/uploads/2019/10/quimica-organica-areas-de-conhecimento-e-funcoes-organicas.jpg.webp">
                        </div>
                        <h5>Química</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="escola" class="a" style="display: none;">
        <div>
            <h1>Escola - Atividades Realizadas</h1>
            <div id="lista-atividades">
                <div class="atv-card">
                    <img>
                    <div>
                        <h4>Nome</h4>
                        <label>Descricao</label>
                        <label>Disciplina</label>
                        <label>Data</label>
                    </div>
                </div>
            </div>
        </div>
        <button>Ver Mais</button>
    </section>

    <section id="projetos" class="b">
        <div>
            <h1>Meus Projetos</h1>
            <div id="lista-projetos">
                <div class="pj-card">
                    <img src="https://github.com/splantapot/atividade2_DSenai/blob/main/images/library.jpg?raw=true">
                    <div>
                        <h4>Trabalho Senai 2</h4>
                        <label>Criação de uma plataforma de gerenciamento de livros.</label>
                        <label>10/2024</label>
                        <a href="https://github.com/splantapot/atividade2_DSenai" target="_blank"><label>Link</label></a>
                    </div>
                </div>
                <div class="pj-card">
                    <img src="https://github.com/splantapot/atividade3_DSenai/blob/main/images/back.jpg?raw=true">
                    <div>
                        <h4>Trabalho Senai 3</h4>
                        <label>Sistema de Gerenciamento de Projetos.</label>
                        <label>10/2024 - 11/2024</label>
                        <a href="https://github.com/splantapot/atividade3_DSenai" target="_blank"><label>Link</label></a>
                    </div>
                </div>
                <div class="pj-card">
                    <img src="https://blog.even3.com.br/wp-content/uploads/2022/05/17-imagens-de-destaque_guia-de-planejamento-de-eventos-768x512.png">
                    <div>
                        <h4>Trabalho Senai 4</h4>
                        <label>Criação de uma plataforma gerenciadora de eventos</label>
                        <label>11/2024</label>
                        <a href="https://github.com/splantapot/atividade4_DSenai" target="_blank"><label>Link</label></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button>Ver Mais</button> -->
    </section>

    <section id="formulario" class="a">
        <h1>Entre em Contato</h1>
        <div>
            <form action="/contato" method="post">
                <label for="nome">Nome:</label>
                <input name="nome" type="text" required>
    
                <label for="email">Email:</label>
                <input name="email" type="email" required>
    
                <label for="mensagem">Mensagem:</label>
                <textarea name="mensagem" required></textarea>
                    
                <input type="submit" value="Enviar">
            </form>
            <img>
        </div>
    </section>

    <footer>
        <div id="lista-redes">
            <a href="https://www.instagram.com/splantapot_jvcr/" target="_blank">Instagram</a>
            <!-- <button class="add"></button> -->
        </div>
    </footer>

    <script src="/js/navigation.js"></script>
    <script>
        window.addEventListener("scroll", () => {
            const header = document.querySelector("header");
            if (window.scrollY > 50) {
                document.body.classList.add("scrolled");
            } else {
                document.body.classList.remove("scrolled");
            }
        });
    </script>
</body>
</html>