<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template de Portfólio</title>

    <link rel="stylesheet" href="/css/portfolio.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Satisfy&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="#inicio">PÁGINA INICIAL</a>
            <a href="#sobre">SOBRE</a>
            <a href="#escola">ESCOLA</a>
            <a href="#projetos">PROJETOS</a>
        </div>
    </header>

    <section id="inicio" class="a main">
        <div class="image-container">
            <img class="picture" src="/images/theo.jpg" alt="Foto do Theo">
            <img class="me" src="/images/jvcr.jpg" alt="Minha Foto">
        </div>
        <div class="text-container">
            <h2 class="big-margin">Oi! Meu nome é João Victor</h2>
            <div>
                <p>Eu sou um estudante de  robótica entusiasta por desafios e novas tecnologias.</p>
                <p>Tenho fascínio por Matemática, Física, Química e Programação, sempre evoluindo minhas habilidades.</p>
            </div>
        </div>
    </section>

    <section id="sobre" class="b">
        <section id="formacao">
            <div class="formacao-content">
                <h1>Sobre</h1>
                <h3>Formação Acadêmica</h3>
                <ul class="formacao-list">
                    <li class="formacao-item">
                        <p class="formacao-titulo">Ensino Médio</p>
                        <p class="formacao-descricao">Ensino Médio em conclusão na escola SESI Conselheiro Saraiva. Medalhista em várias Olimpíadas Científicas.</p>
                    </li>
                    <li class="formacao-item">
                        <p class="formacao-titulo">Técnico em Desenvolvimento de Sistemas</p>
                        <p class="formacao-descricao">Técnico em conclusão pelo SENAI Centro de Formação Profissional Cândido Athayde.</p>
                    </li>
                    <li class="formacao-item">
                        <p class="formacao-titulo">Curso: Modelagem de Negócios</p>
                        <p class="formacao-descricao">Curso realizado no Centro de Tecnologia da Cerâmica Wildson Gonçalves.</p>
                    </li>
                </ul>
            </div>
            <div class="formacao-imagem">
                <img src="/images/blocks.jpg" alt="Blockss">
            </div>
        </section>        

        <div id="experiencias">
            <div>
                <h3>Experiências</h3>
                <div id="lista-experiencias">
                    <div class="exp-card">
                        <img>
                        <h5>Título</h5>
                        <label>Descrição</label>
                    </div>
                    <button></button>
                </div>
            </div>
        </div>

        <div id="habilidades">
            <div>
                <h3>Habilidades</h3>
                <div id="lista-habilidades">
                    <div class="hab-card">
                        <h5>Nome</h5>
                        <label>Descrição</label>
                    </div>
                    <button></button>
                </div>
            </div>
        </div>

        <div id="especialidades"><div>
            <h3>Especialidades e Áreas de Interesse</h3>
            <div id="lista-especialidades">
                <div class="area-card">
                    <div>Código fonte da animação</div>
                    <h5>Nome</h5>
                </div>
                <button></button>
            </div>
        </div></div>
    </section>

    <section id="escola" class="a"></section>

    <section id="projetos" class="b"></section>

    <script>
        window.addEventListener("scroll", () => {
            const header = document.querySelector("header");
            if (window.scrollY > 50) {
                document.body.classList.add("scrolled");
            } else {
                document.body.classList.remove("scrolled");
            }
        });
    </script>
</body>
</html>