<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>

    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
        <form action="/add" method="post" class="centered sized form-box">
        <h3>Cadastrar</h3>
        <div class="fields">

        <input type="checkbox" name="lembrar">
        <input type="submit" value="Entrar">
        <a href="/template">Voltar</a>
    </form>
</body>
</html>