<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>

    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <form action="/login" method="post" class="centered sized form-box">
        <div  id="form-cadastro">
            <h3>Cadastro de Usuário</h3>
            <h6>Os campos com * são obrigatórios</h6>
            <div class="fields">
                
                <label for="nome">Nome:*</label>
                <input name="nome" placeholder="Nome Completo" required>

                <label for="email">Email:*</label>
                <input name="email" type="email" placeholder="Ex: seu_email@gmail.com" required>

                <label for="senha">Senha:*</label>
                <input name="senha" type="password" placeholder="Senha" required>

                <label for="confirma">Confirme sua senha:*</label>
                <input name="confirma" type="password" placeholder="Confirmar senha" required>

                <label for="descricao">Descrição do perfil (Bio):</label>
                <input name="descricao" placeholder="Descreva você">

                <div class="button-fields">
                    <div id="button_perfil" onclick="navigateFromTo('form-cadastro', 'foto-div')">Foto de Perfil: <label>Não</label></div>
                    <div id="button_social_media" onclick="navigateFromTo('form-cadastro', 'redes-div')">Redes Sociais: <label>0</label></div>
                </div>
                <input type="submit" value="Entrar">
            </div>
            <a href="/login">Se já possui conta, entre aqui.</a>
        </div>

        <div id="foto-div" class="hidden">
            <h3>Foto de Perfil</h3>
            <div class="perfil">
                <img id="imagem_img" src="/images/guest.png" alt="Imagem de Perfil" width="150px" height="150px">
            </div>
            <input type="file" name="imagem_perfil" id="imagem_perfil" accept=".jpg, .jpeg, .png">
            <div class="button-fields"><div onclick="navigateFromTo('foto-div','form-cadastro')">Voltar</div></div>
        </div>

        <div id="redes-div" class="hidden">
            <h3>Redes sociais</h3>
            <div class="button-fields">
                <div onclick="addSocialMedia()">Adicionar</div>
            </div>
            <div id="redes-lista" class="vertical-list"></div>
            <datalist id="redes-datalist">
                <option value="Facebook"></option>
                <option value="Instagram"></option>
                <option value="X"></option>
                <option value="LinkedIn"></option>
                <option value="TikTok"></option>
                <option value="Pinterest"></option>
                <option value="WhatsApp"></option>
            </datalist>
            <div class="button-fields"><div onclick="validateSocialMedia()">Voltar</div></div>
        </div>
    </form>

    <script src="/js/navigation.js"></script>
    <script src="/js/imageControl.js"></script>
    <script src="/js/socialMediaControl.js"></script>
    <script>
        controlImage();
        controlSocialMedia();
    </script>
</body>
</html>