<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <form action="/usuario/recuperar" method="post" class="centered sized form-box">
        <h3>Redefinição de Senha</h3>
        <h4>Insira seu email para receber uma solicitação de mudança de senha.</h4>
        <div class="fields">
            <label for="email">Email:</label>
            <input name="email" type="email" placeholder="seu_email@gmail.com" required>
        </div>
        <input type="submit" value="Enviar">
        <a href="/">Voltar para o login</a>
    </form>
</body>
</html>