<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>

    <link rel="stylesheet" href="/css/image_picker.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <div class="image-prompt hidden">
        <div class="image-prompt-box">
            <div class="cropper-container">
                <canvas></canvas>
            </div>
            <div class="button-box">
                <div class="confirm">Confirmar</div>
                <div class="cancel">Cancelar</div>
            </div>
        </div>
    </div>

    <form action="/usuario/cadastrar" method="post" onsubmit="validateUserAdd(event)" class="centered sized form-box">
        <div id="form-cadastro">
            <h3>Cadastro de Usuário</h3>
            <h6>Os campos com * são obrigatórios</h6>
            <div class="fields">
                
                <label for="nome">Nome:*</label>
                <input name="nome" placeholder="Nome Completo" required>

                <label for="email">Email:*</label>
                <input name="email" type="email" placeholder="Ex: seu_email@gmail.com" required>

                <label for="senha">Senha:*</label>
                <input name="senha" type="password" placeholder="Senha" required>

                <label for="confirma">Confirme sua senha:*</label>
                <input name="confirma" type="password" placeholder="Confirmar senha" required>

                <label for="descricao">Descrição do perfil (Bio):</label>
                <h6>Essa descição estará visível em todos os seus portfólios.</h6>
                <input name="descricao" placeholder="Descreva você">

                <div class="button-fields">
                    <div id="button_perfil" onclick="navigateFromTo('form-cadastro', 'foto-div')">Foto de Perfil: <label>Não</label></div>
                    <div id="button_social_media" onclick="navigateFromTo('form-cadastro', 'redes-div')">Redes Sociais: <label>0</label></div>
                </div>
                <input type="submit" value="Cadastrar">
            </div>
            <a href="/login">Se já possui conta, entre aqui.</a>
        </div>

        <div id="foto-div" class="foto-div hidden">
            <h3>Foto de Perfil</h3>
            <canvas id="preview-canvas"></canvas>
            <label class="input-file" for="file-picker">Escolha uma imagem</label>
            <input type="file" id="file-picker" accept="image/*">
            <input type="hidden" name="imagem_base64" id="imagem_base64">
            <div class="button-fields"><div onclick="controlImageInForms(); navigateFromTo('foto-div','form-cadastro')">Voltar</div></div>
        </div>

        <div id="redes-div" class="hidden">
            <h3>Redes sociais</h3>
            <div class="button-fields">
                <div onclick="addSocialMedia()">Adicionar</div>
            </div>
            <div id="redes-lista" class="vertical-list"></div>
            <datalist id="redes-datalist">
                <option value="Facebook"></option>
                <option value="Instagram"></option>
                <option value="X"></option>
                <option value="LinkedIn"></option>
                <option value="TikTok"></option>
                <option value="Pinterest"></option>
                <option value="WhatsApp"></option>
            </datalist>
            <div class="button-fields"><div onclick="validateSocialMedia()">Voltar</div></div>
        </div>
    </form>

    <script src="/js/imageControl.js"></script>
    <script src="/js/socialMediaControl.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/notification.js"></script>
    <script>
        controlSocialMedia();

        initPreview()
        setupImageInput();

        const errorList = {'1': 'Esse email já foi registrado'};
        notification(errorList);
    </script>
</body>
</html>